layout {

    focus-ring {
        active-color   "#7e67e4"
        inactive-color "#1b1924"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#7e67e4"
        inactive-color "#1b1924"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1b192470"
    }

    tab-indicator {
        active-color   "#7e67e4"
        inactive-color "#230c8d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#7e67e480"
    }
}

recent-windows {
    highlight {
        active-color "#7e67e4"
        urgent-color "#fd4663"
    }
}
