layout {

    focus-ring {
        active-color   "#caca8b"
        inactive-color "#14140f"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#caca8b"
        inactive-color "#14140f"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#caca8b"
        inactive-color "#484917"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#caca8b80"
    }
}

recent-windows {
    highlight {
        active-color "#caca8b"
        urgent-color "#ffb4ab"
    }
}
