layout {

    focus-ring {
        active-color   "#a867e4"
        inactive-color "#1f122c"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#a867e4"
        inactive-color "#1f122c"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1f122c70"
    }

    tab-indicator {
        active-color   "#a867e4"
        inactive-color "#4f0c8d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#a867e480"
    }
}

recent-windows {
    highlight {
        active-color "#a867e4"
        urgent-color "#fd4663"
    }
}
